@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  h1 {
    @apply text-2xl font-bold;
  }
  h2 {
    @apply text-xl font-semibold mb-1;
  }
  a {
    @apply text-blue-600 cursor-pointer;
  }
  .container {
    @apply w-['80%'] mx-auto;
  }
  .navigation_bar {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr;
    /* align-items: center; */
    color: white;
    /* background-color: #541337; */
    height: 70px;
  }
  .btn {
    @apply w-20 h-8 rounded;
  }
  .navigation_bar {
    @apply bg-orange-600;
  }

  .nav_form {
    @apply flex gap-x-2 my-auto;
  }
  .nav_form input {
    @apply p-2 rounded text-black outline-none;
  }
  .nav_form button {
    @apply py-2 px-4  rounded  bg-green-700 text-white hover:bg-white hover:text-green-700 hover:outline hover:outline-green-700 duration-150;
  }
  .nav_links {
    @apply text-white opacity-50 hover:opacity-100 duration-100;
  }
  .active {
    @apply opacity-100;
  }
  .members_list {
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    /* display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-flow: row; */
  }
  .delete_photo_btn {
    @apply rounded border border-red-500 py-1 px-2 bg-red-500 hover:scale-105 duration-200 disabled:bg-red-400 disabled:scale-100;
  }
  .img_wrapper:hover .icon_wrapper {
    bottom: 10%;
    opacity: 1;
  }
  .icon_wrapper {
    @apply flex flex-row justify-center gap-x-6 px-2 absolute bottom-[-30%] left-0 right-0 mx-auto opacity-0  duration-300 ease-in-out;
  }
  .icon_btn {
    @apply bg-orange-600 w-10 h-10 rounded hover:bg-orange-700 duration-200;
  }
  .drop_zone {
    @apply: border border-slate-300 rounded-xl flex flex-col items-center justify-center w-64 h-64 gap-y-2 mb-2 hover:border-red-700 duration-150;
  }
  .drop_zone_active {
    @apply: bg-red-600 border-dotted scale-110;
  }
  .validation_error {
    @apply text-red-600 px-1;
  }
  .register_input {
    @apply outline-orange-400 border-slate-300 border rounded px-2 py-1 w-[350px] placeholder:text-slate-500;
  }
  .validation_invalid {
    @apply border-red-500 bg-red-200 border-2;
  }
}
