@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  h1 {
    @apply text-2xl font-bold;
  }
  h2 {
    @apply text-xl font-semibold mb-1;
  }
  a {
    @apply text-blue-600 cursor-pointer;
  }
  .navigation_bar {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr;
    /* align-items: center; */
    color: white;
    /* background-color: #541337; */
    height: 70px;
  }
  .navigation_bar {
    @apply bg-orange-600;
  }

  .nav_form {
    @apply flex gap-x-2 my-auto;
  }
  .nav_form input {
    @apply p-2 rounded text-black outline-none;
  }
  .nav_form button {
    @apply py-2 px-4  rounded  bg-green-700 text-white hover:bg-white hover:text-green-700 hover:outline hover:outline-green-700 duration-150;
  }
  .nav_links {
    @apply text-white opacity-50 hover:opacity-100 duration-100;
  }
  .active {
    @apply opacity-100;
  }
}
